---
import Container from "../../components/container.astro";
import Postlist from "../../components/postlist.astro";
import Layout from "../../layouts/Layout.astro";
import { latestPosts } from "../../utils/content";
import { categories } from "../../data/category";
import Cat from "../../components/cat.astro";

export const postsForCategory = (categorySlug) => {
  return latestPosts.filter((post) => post.data.category === categorySlug);
};

export const getCategoryInfo = (categorySlug) => {
  const category = categories.find((cat) => cat.slug === categorySlug);
  return category ? category : null;
};

const { params } = Astro;
const categorySlug = params.category;

const categoryPosts = postsForCategory(categorySlug);
const categoryInfo = getCategoryInfo(categorySlug);

export function getStaticPaths() {
  const paths = categories.map((category) => ({
    params: { category: category.slug },
  }));

  return paths;
}

---
<Layout title={`Category: ${categoryInfo.title}`}>
  <Container class="flex flex-wrap lg:flex-nowrap">
    <aside class="w-full lg:w-1/4 p-4">
      <Cat /> {/* Add the Cat component here */}
    </aside>
    <main class="w-full lg:w-3/4 p-4">
      <div class="mb-8">
        <h1 class="text-3xl font-semibold">{categoryInfo.title} Category</h1>
        <p class="mt-2">{categoryInfo.description}</p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {categoryPosts.map((post) => (
          <Postlist post={post} aspect="landscape" preloadImage={true} />
        ))}
      </div>
      <div class="mt-4 flex justify-center">
  <div class="hidden lg:block"> <!-- Hide on small devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'f80875e48da1c3cf0653a7d4e744cfe8',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/f80875e48da1c3cf0653a7d4e744cfe8/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
  <div class="lg:hidden"> <!-- Hide on large devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'c30c5cd14eb92657737ffd2556369bb6',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c30c5cd14eb92657737ffd2556369bb6/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
</div>

    </main>
  </Container>
</Layout>
