---
import Container from "../../components/container.astro";
import Postlist from "../../components/postlist.astro";
import Layout from "../../layouts/Layout.astro";
import { latestPosts } from "../../utils/content";

export const postsForTags = (tagsSlug) => {
  return latestPosts.filter((post) => post.data.tags.includes(tagsSlug));
};

const { params } = Astro;
const tagSlug = params.tag;

const tagPosts = postsForTags(tagSlug);

export function getStaticPaths() {
  const allTags = Array.from(
    new Set(latestPosts.flatMap((post) => post.data.tags).flat())
  );

  console.log('All Tags:', allTags);

  const paths = allTags.map((tag) => ({
    params: { tag: encodeURIComponent(tag) },
  }));

  console.log('Paths:', paths);

  return paths;
}





---
<Layout title={`Tag: ${tagSlug}`} desc="hello">
  <Container class="flex flex-wrap lg:flex-nowrap">
    <aside class="w-full lg:w-1/4 p-4">
    </aside>
    <main class="w-full lg:w-3/4 p-4">
      <div class="mb-8">
        <h1 class="text-3xl font-semibold">Tag: {tagSlug}</h1>
        <p class="mt-2">Hello</p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        {tagPosts.map((post) => (
          <Postlist key={post.data.slug} post={post} aspect="landscape" preloadImage={true} />
        ))}
      </div>
    </main>
  </Container>
</Layout>
