---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const GITHUB_LINK = "https://github.com/NOXITB";
const YOUTUBE_LINK = "https://www.youtube.com/channel/UCbAf_psqFnOUVQ-CdyXnwXg";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>👋 Hello, I'm Blake!</h1>
      <p>
        Welcome to my personal website! This is where I share my projects,
        thoughts, and experiences. Feel free to explore and learn more about me.
      </p>
      <p>
        You can find my coding projects on my <a href={GITHUB_LINK}>GitHub</a> page.
        I enjoy working on various programming challenges and contributing to open-source
        projects.
      </p>
      <p>
        I also have a <a href={YOUTUBE_LINK}>YouTube</a> channel where I share tutorials,
        demos, and insights related to technology and coding. Don't forget to subscribe
        if you're interested!
      </p>
      <p>Here are a few things you can do on my website:</p>
      <ul>
        <li>
          Explore my coding projects on my <a href={GITHUB_LINK}>GitHub</a> page.
        </li>
        <li>Watch videos on my <a href={YOUTUBE_LINK}>YouTube</a> channel.</li>
        <li>Read my blog posts and thoughts on various topics.</li>
        <li>Get in touch with me through the contact form.</li>
      </ul>
      <p>
        If you have any questions or want to collaborate, feel free to reach out
        to me through my GitHub or YouTube channels. Let's connect and learn
        together!
      </p>
    </main>
    <Footer />
  </body>
</html>
