---
import Container from "../components/container.astro";
import Postlist from "../components/postlist.astro";
import Layout from "../layouts/Layout.astro";
import { latestPosts } from "../utils/content";
import { categories } from "../data/category"; // Import your categories data
import Cat from "../components/cat.astro";
import AdComponent from "@components/AdComponent.astro";
---
<Layout title="">
  <Container class="flex">
    <main class="w-full sm:w-3/4 p-4"> {/* Updated width for small screens */}
      <h1 class="text-3xl font-semibold mb-4">🧑‍💻 Welcome to My Coding World!</h1>
      <p class="mb-4">
        Hey there! I'm Blake, and I'm absolutely passionate about coding,
        servers, and homelabs. I'm a developer and support staff member at
        Rabbit Company, where I get to dive into code and keep servers running
        smoothly.
      </p>
      <p class="mb-4">
        My coding journey spans across various languages, and I've mastered the
        art of debugging servers to ensure everything runs like a charm.
      </p>
      <p class="mb-4">
        Join me as I share my experiences, projects, and insights into the world
        of coding and technology.
      </p>
      <div class="mt-4 mb-4 flex justify-center">
  <div class="hidden lg:block"> <!-- Hide on small devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'f80875e48da1c3cf0653a7d4e744cfe8',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/f80875e48da1c3cf0653a7d4e744cfe8/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
  <div class="lg:hidden"> <!-- Hide on large devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'c30c5cd14eb92657737ffd2556369bb6',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c30c5cd14eb92657737ffd2556369bb6/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
</div>

      <!-- Categories for small/mobile devices -->
  <div class="sm:hidden p-4 mt-4 ml-auto w-full max-w-xs"> {/* Hide on screens larger than sm (mobile) */}
    <h2 class="text-xl font-semibold">Categories</h2>
    <div>
      {categories.map((category) => (
        <a
          key={category.slug}
          href={`/category/${category.slug}`} // Replace with your actual category URL
          class={`text-${category.color} hover:underline block py-2`}
        >
          {category.title}
        </a>
      ))}
    </div>

  </div>
      <!-- Display the newest 4 posts -->
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        {latestPosts
          .slice(0, 4) // Display the newest 4 posts
          .map((post, index) => (
            <Postlist post={post} aspect="landscape" preloadImage={true} />
          ))}
      </div>
    </main>

    <aside class="hidden sm:block sm:w-1/4 p-4 order-first"> {/* Show on screens larger than sm (desktop) */}
      <Cat />
    </aside>

  </Container>

        <div class="mt-4 mb-4 flex justify-center">
  <div class="hidden lg:block"> <!-- Hide on small devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'f80875e48da1c3cf0653a7d4e744cfe8',
        'format' : 'iframe',
        'height' : 90,
        'width' : 728,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/f80875e48da1c3cf0653a7d4e744cfe8/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
  <div class="lg:hidden"> <!-- Hide on large devices -->
    <script type="text/javascript">
      atOptions = {
        'key' : 'c30c5cd14eb92657737ffd2556369bb6',
        'format' : 'iframe',
        'height' : 50,
        'width' : 320,
        'params' : {}
      };
      document.write('<scr' + 'ipt type="text/javascript" src="//www.profitablecreativeformat.com/c30c5cd14eb92657737ffd2556369bb6/invoke.js"></scr' + 'ipt>');
    </script>
  </div>
</div>


</Layout>
