---
import Container from "../components/container.astro";
import Postlist from "../components/postlist.astro";
import Layout from "../layouts/Layout.astro";
import { latestPosts } from "../utils/content";
import { categories } from "../data/category"; // Import your categories data
import Cat from "../components/cat.astro";

---
<Layout title="Noxcodes Blog Website">
  <Container class="flex">

    <main class="w-full sm:w-3/4 p-4"> {/* Updated width for small screens */}
      <h1 class="text-3xl font-semibold mb-4">🧑‍💻 Welcome to My Coding World!</h1>

      <p class="mb-4">
        Hey there! I'm Blake, and I'm absolutely passionate about coding,
        servers, and homelabs. I'm a developer and support staff member at
        Rabbit Company, where I get to dive into code and keep servers running
        smoothly.
      </p>
      <p class="mb-4">
        My coding journey spans across various languages, and I've mastered the
        art of debugging servers to ensure everything runs like a charm.
      </p>
      <p class="mb-4">
        Join me as I share my experiences, projects, and insights into the world
        of coding and technology.
      </p>


<script async="async" data-cfasync="false" src="//pl20666481.highcpmrevenuegate.com/066afb85a171f3b3b34299cbba400e2e/invoke.js"></script>
<div id="container-066afb85a171f3b3b34299cbba400e2e"></div>

      <!-- Categories for small/mobile devices -->
  <div class="sm:hidden p-4 mt-4 ml-auto w-full max-w-xs"> {/* Hide on screens larger than sm (mobile) */}
    <h2 class="text-xl font-semibold">Categories</h2>
    <div>
      {categories.map((category) => (
        <a
          key={category.slug}
          href={`/category/${category.slug}`} // Replace with your actual category URL
          class={`text-${category.color} hover:underline block py-2`}
        >
          {category.title}
        </a>
      ))}
    </div>

  </div>
      <!-- Display the newest 4 posts -->
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        {latestPosts
          .slice(0, 4) // Display the newest 4 posts
          .map((post, index) => (
            <Postlist post={post} aspect="landscape" preloadImage={true} />
          ))}
      </div>
    </main>

    <aside class="hidden sm:block sm:w-1/4 p-4 order-first"> {/* Show on screens larger than sm (desktop) */}
      <Cat />
    </aside>

  </Container>




</Layout>
