---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";


type Props = CollectionEntry<"blog">["data"];

const { title, excerpt, pubDate, updatedDate, heroImage, image} = Astro.props;

---

<html lang="en">
  <head>
    <BaseHead title={title} description={excerpt} image={heroImage} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
        color: rgb(var(--gray-dark));
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
      body {
        color: white;
        background-color: #111827;
        margin: 0;
        font-family: Arial, sans-serif;
      }
      a {
        color: white;
        text-decoration: underline;
      }
      a:hover {
        color: #6ee7b7;
      }
      main {
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
      }
      h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
      }
      p {
        font-size: 1rem;
        margin-bottom: 20px;
        line-height: 1.6;
      }
      code {
        background-color: #1d2d3f;
        color: white;
        padding: 2px 4px;
        border-radius: 4px;
      }
      ul {
        list-style-type: disc;
        margin-left: 20px;
        margin-bottom: 20px;
      }
      li {
        margin-bottom: 10px;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
          
            <hr />
          </div>
          <slot />
        </div>
      </article>
      <div id="comments">
        <script src="https://giscus.app/client.js"
        data-repo="NOXITB/nox-blogs"
        data-repo-id="R_kgDOKGzUhg"
        data-category="General"
        data-category-id="DIC_kwDOKGzUhs4CYxFe"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
    </main>
    <Footer />
  </body>
</html>
